/*---------------------- U N I V E R S A L -----------------------*/
/*1. Todos los elementos deben tener fuente de familia sans-serif.*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*2. Titulo h1 con tamaño 24px, color #242424 y grosor 900.*/
h1 {
  font-size: 34px;
  color: #242424;
  font-weight: 900;
}
/*3. Titulo h2 con tamaño 20px, color #606060 y grosor 800.*/
h2 {
  font-size: 20px;
  color: #606060;
  font-weight: 800;
}
/*4. Los párrafos tamaño 14px.*/
p {
  font-size: 14px;
}
